@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,900;1,400;1,700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 1.25rem;
  color: #000000;
  line-height: 1.3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

a, a:visited {
  text-decoration: none;
}

@media (max-width: 768px) {
  .hide-on-mobile {
    display: none !important;
  }
}

@media (min-width: 769px) {
  .hide-on-desktop {
    display: none !important;
  }
}

.header {
  width: 100%;
  position: fixed;
  z-index: 99;
  background: white;
}

.header > nav {
  height: 1.75rem;
  padding: 0px 0.875rem;
  background: -webkit-gradient(linear, right top, left top, from(#1caba2), to(#1c7fab));
  background: linear-gradient(to left, #1caba2, #1c7fab);
}

@media (min-width: 769px) {
  .header > nav {
    height: 3.75rem;
    -webkit-box-pack: justify !important;
        -ms-flex-pack: justify !important;
            justify-content: space-between !important;
    background: rgba(255, 255, 255, 0.87);
    font-size: 1rem;
  }
}

.header__logo--mobile {
  height: 2.25rem;
}

.header__logo--desktop {
  height: 2.875rem;
}

.header__toggle__hamburgerBtn {
  height: 1.5rem;
  position: absolute;
  top: 1rem;
  left: 1.25rem;
}

.header__links a {
  color: #000000;
  font-size: 0.875rem;
  font-weight: 600;
}

.header__links a:hover {
  color: #13bbbb;
}

@media (min-width: 769px) {
  .header__links a {
    margin: 0px 20px 0;
    color: #1c201fc7;
  }
}

@media (min-width: 769px) {
  .header__links__promo {
    color: #000000;
    border: 1px solid #dbdce5;
    margin-top: 0;
    padding: 0.6rem 0;
    border-radius: 0.313rem;
    min-width: 10.375rem;
    color: #000000;
    margin: 0px 20px 0;
  }
  .header__links__promo span {
    font-size: 1rem;
    font-weight: 700;
    color: #000000 !important;
  }
}

@media (min-width: 769px) {
  .header .links--mobile {
    display: none;
  }
}

.header .links--desktop {
  display: none;
}

@media (min-width: 769px) {
  .header .links--desktop {
    margin-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.header__menu {
  background: rgba(0, 0, 0, 0.54);
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
}

.header__menu--exit {
  -webkit-animation: exit 300ms ease-in-out forwards;
          animation: exit 300ms ease-in-out forwards;
}

.header__menu--enter {
  -webkit-animation: enter 300ms ease-in-out forwards;
          animation: enter 300ms ease-in-out forwards;
}

@-webkit-keyframes exit {
  from {
    left: 0;
    background: rgba(0, 0, 0, 0.54);
  }
  20% {
    background: rgba(0, 0, 0, 0);
  }
  to {
    left: -100%;
    background: rgba(0, 0, 0, 0);
  }
}

@keyframes exit {
  from {
    left: 0;
    background: rgba(0, 0, 0, 0.54);
  }
  20% {
    background: rgba(0, 0, 0, 0);
  }
  to {
    left: -100%;
    background: rgba(0, 0, 0, 0);
  }
}

@-webkit-keyframes enter {
  from {
    left: -100%;
    background: rgba(0, 0, 0, 0);
  }
  80% {
    background: rgba(0, 0, 0, 0);
  }
  to {
    left: 0;
    background: rgba(0, 0, 0, 0.54);
  }
}

@keyframes enter {
  from {
    left: -100%;
    background: rgba(0, 0, 0, 0);
  }
  80% {
    background: rgba(0, 0, 0, 0);
  }
  to {
    left: 0;
    background: rgba(0, 0, 0, 0.54);
  }
}

.header__menu .closeSpace {
  height: 100vh;
  width: 10%;
}

.header__menu__wrapper {
  width: 90%;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: white;
}

.header__menu__profile {
  margin-bottom: 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 26px;
  height: 125px;
  background-image: -webkit-gradient(linear, right top, left top, from(#1caba2), to(#1c7fab));
  background-image: linear-gradient(to left, #1caba2, #1c7fab);
  align-items: center;
  color: rgba(255, 255, 255, 0.87);
}

.header__menu .userData {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__menu .userData .name {
  font-size: 1rem;
  font-weight: 600;
}

.header__menu .userData .email,
.header__menu .userData .number {
  font-size: 13px;
}

.header__menu .userData span {
  padding: 0px 16px;
  line-height: 1.5rem;
}

.header__menu .userAvatar {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  vertical-align: middle;
}

.header__menu .userAvatar img {
  height: 35px;
  padding-top: 8px;
}

.header__menu a {
  padding-left: 1.25rem;
  line-height: 3rem;
}

.hero {
  padding: 3rem 0 0 0;
}

@media (min-width: 769px) {
  .hero {
    padding: 6rem 0 0 0;
  }
}

.hero .form--desktop {
  margin-top: 0rem !important;
  padding: 3rem 2rem;
  position: absolute;
  top: 3rem;
  left: 15%;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
}

.hero .form--desktop .hero__carousel__form__button {
  width: 270px;
}

.hero .hero__carousel__form {
  margin-top: 1.5rem;
  max-height: 500px;
  max-width: 500px;
  background-color: white;
  z-index: 10;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  margin: auto;
}

.hero .hero__carousel__form__tabs {
  width: 100%;
}

.hero .hero__carousel__form__tabs input {
  position: absolute;
  left: -99999em;
  top: -99999em;
}

.hero .hero__carousel__form__tabs input + label {
  cursor: pointer;
  float: left;
  font-size: 1.375rem;
  border-radius: 15px;
  padding: 0.75rem 0.5rem;
  margin: 0 0.65rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000000;
  max-width: 50%;
  min-width: 10rem;
  border: 1px solid #d9d9d9;
}

.hero .hero__carousel__form__tabs input + label p {
  font-size: 1.25rem;
  font-weight: 600;
}

.hero .hero__carousel__form__tabs input + label span {
  font-size: 0.875rem;
  font-weight: 200;
}

.hero .hero__carousel__form__tabs input:checked + label {
  background-image: -webkit-gradient(linear, right top, left top, from(#1caba2), to(#1c7fab));
  background-image: linear-gradient(to left, #1caba2, #1c7fab);
  border-color: #428bca;
  z-index: 1;
  color: rgba(255, 255, 255, 0.87);
}

.hero .hero__carousel__form__text {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 24px;
}

.hero .hero__carousel__form__text img {
  height: 28px;
}

.hero .hero__carousel__form__text p {
  font-size: 1.125rem;
  font-weight: 400;
}

.hero .hero__carousel__form img {
  height: 1.5rem;
}

.hero .hero__carousel__form .cityText {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
  color: #000000;
  height: 100%;
  padding: 0.8rem 0px 8px 0px;
  margin-left: 10px;
  border: none;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  width: 100%;
  font-size: 1.375rem;
  line-height: 24px;
  font-weight: 600;
}

.hero .hero__carousel__form .inputWrapper {
  width: 100%;
}

.hero .hero__carousel__form .InputText {
  position: relative;
  line-height: 22px;
  top: 32px;
  right: 38%;
  text-transform: capitalize;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  z-index: 1;
  -webkit-transform: scale(0.75) translate(0px, -28px);
          transform: scale(0.75) translate(0px, -28px);
  -webkit-transform-origin: left top;
          transform-origin: left top;
  pointer-events: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #888993;
  font-family: 'Poppins';
  font-weight: 400;
  font-size: 1.125rem;
}

.hero .hero__carousel__form__city {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  margin-top: 16px;
}

.hero .hero__carousel__form__dates {
  margin-top: 16px;
}

.hero .hero__carousel__form__dates .endDate {
  margin-left: 20px;
}

.hero .hero__carousel__form__button {
  background-image: -webkit-gradient(linear, right top, left top, from(#1caba2), to(#1c7fab));
  background-image: linear-gradient(to left, #1caba2, #1c7fab);
  border-radius: 4px;
  width: 100%;
  max-height: 48px;
  min-height: 48px;
  margin-top: 22px;
  font-weight: 700;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.87);
  border: none;
}

.hero__carousel--mobile .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__carousel--desktop {
  height: 648px;
}

.hero__carousel--desktop .swiper-slide .hero__carousel__slideBG {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.hero__carousel--desktop .swiper-slide:nth-child(1) .hero__carousel__slideBG {
  background-image: url("../images/LT_BG_1.png");
}

.hero__carousel--desktop .swiper-slide:nth-child(2) .hero__carousel__slideBG {
  background-image: url("../images/ST_LT_BG_2.png");
}

.hero__carousel--desktop .swiper-slide:nth-child(3) .hero__carousel__slideBG {
  background-image: url("../images/ST_LT_BG_3.png");
}

.hero__carousel--desktop .swiper-slide .hero__carousel__slideBG {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__carousel--desktop .swiper-slide .hero__carousel__slideBG img {
  -o-object-fit: contain;
     object-fit: contain;
  width: 27rem;
  margin-left: 10rem;
}

.hero__carousel--desktop .swiper-slide .boxu {
  width: 500px;
  height: 500px;
}

.hero .swiper {
  width: 100%;
  height: auto;
}

.hero .swiper-slide {
  text-align: center;
  font-size: 18px;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #000;
  opacity: 0.7;
  background: rgba(0, 0, 0, 0.2);
}

.hero .swiper-pagination-bullet-active {
  width: 15px;
  height: 4px;
  background: #000;
  border-radius: 50px;
  opacity: 0.8;
}

.form--fixed {
  max-width: 100% !important;
  position: fixed;
  top: 90px;
  z-index: 999;
}

.form--fixed .hero__carousel__form__city {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: normal !important;
      -ms-flex-direction: row !important;
          flex-direction: row !important;
}

.form--fixed .hero__carousel__form__city .inputWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 46px;
  border: 1px solid #ddd !important;
  margin: 0 1rem;
  border-radius: 4px;
}

.form--fixed .hero__carousel__form__city input {
  border: none !important;
  margin: 0 1rem;
  border-radius: 4px;
}

.form--fixed .hero__carousel__form__city .startDate,
.form--fixed .hero__carousel__form__city .endDate {
  margin: 0 1rem;
  border-radius: 4px;
}

.form--fixed .hero__carousel__form__city .hero__carousel__form__button {
  width: 270px;
  margin: 0 1rem;
}

.inforgrahpic__mySwiper3 {
  margin: 1.5rem auto !important;
}

.inforgrahpic__mySwiper3 .inforgrahpic__bannerCarouselContainer--desktop .swiper-slide {
  width: 50% !important;
}

.inforgrahpic__bannerCarouselContainer--mobile {
  max-width: 1140px;
  width: 100%;
  font-weight: 600;
  position: relative;
  border-radius: 4px;
  background-color: #fff;
  margin: 0.5rem auto;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inforgrahpic__bannerCarouselContainer--mobile .swiper {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  .inforgrahpic__bannerCarouselContainer--mobile .swiper {
    max-width: 92vw;
    overflow: hidden;
  }
}

.inforgrahpic__bannerCarouselContainer--mobile .mySwiper5 .swiper-slide {
  width: 100% !important;
}

.inforgrahpic__bannerCarouselContainer--mobile .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inforgrahpic__bannerCarouselContainer--mobile .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inforgrahpic__bannerCarouselContainer--mobile .swiper-slide {
  width: 72% !important;
}

.inforgrahpic__bannerCarouselContainer--mobile .topwrapper {
  font-size: 1.25rem;
}

@media (min-width: 769px) {
  .inforgrahpic__bannerCarouselContainer--mobile .topwrapper {
    margin: 0.5rem 15px 1.5rem 0;
  }
}

.inforgrahpic__bannerCarouselContainer--mobile__controls {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 78px;
  height: 33px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.096);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.096);
  background-color: #fff;
  padding: 0.25rem;
}

.inforgrahpic__bannerCarouselContainer--mobile .mySwiper2-button-next,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper2-button-prev,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper3-button-next,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper3-button-prev {
  cursor: pointer;
}

.inforgrahpic__bannerCarouselContainer--mobile .mySwiper2-button-next img,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper2-button-prev img,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper3-button-next img,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper3-button-prev img {
  width: 9.8px;
}

.inforgrahpic__bannerCarouselContainer--mobile .mySwiper2-button-next,
.inforgrahpic__bannerCarouselContainer--mobile .mySwiper3-button-next {
  margin-right: 1.5rem;
}

.inforgrahpic__bannerCarouselContainer--desktop {
  max-width: 1140px;
  width: 100%;
  padding: 0.8rem 1.75rem;
  font-weight: 600;
  position: relative;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.096);
          box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.096);
  background-color: #fff;
  margin: 0 auto;
  margin-top: -32px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.inforgrahpic__bannerCarouselContainer--desktop .swiper {
  width: 100%;
  height: 100%;
}

.inforgrahpic__bannerCarouselContainer--desktop .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inforgrahpic__bannerCarouselContainer--desktop .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.inforgrahpic__bannerCarouselContainer--desktop .swiper-slide {
  width: 25%;
}

.inforgrahpic__bannerCarouselContainer--desktop .topwrapper {
  font-size: 1.75rem;
}

@media (min-width: 769px) {
  .inforgrahpic__bannerCarouselContainer--desktop .topwrapper {
    margin: 0.5rem 15px 1.5rem 0;
  }
}

.inforgrahpic__bannerCarouselContainer--desktop__controls {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 78px;
  height: 33px;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.096);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.096);
  background-color: #fff;
  padding: 0.25rem;
}

.inforgrahpic__bannerCarouselContainer--desktop .mySwiper2-button-next,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper2-button-prev,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper3-button-next,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper3-button-prev {
  cursor: pointer;
}

.inforgrahpic__bannerCarouselContainer--desktop .mySwiper2-button-next img,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper2-button-prev img,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper3-button-next img,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper3-button-prev img {
  width: 9.8px;
}

.inforgrahpic__bannerCarouselContainer--desktop .mySwiper2-button-next,
.inforgrahpic__bannerCarouselContainer--desktop .mySwiper3-button-next {
  margin-right: 1.5rem;
}

.inforgrahpic__whyrevv--mobile h2 {
  text-align: center;
}

.inforgrahpic__whyrevv--mobile .small-line-green {
  width: 30px;
  height: 2px;
  margin-top: 8px;
  border-top: 1px solid #00b9b4;
}

.inforgrahpic__whyrevv--mobile__card {
  padding: 0.625rem;
}

.inforgrahpic__whyrevv--mobile__card__img img {
  width: 50%;
}

.inforgrahpic__whyrevv--mobile__card__text {
  text-align: center;
  font-weight: 600;
}

.inforgrahpic__whyrevv--mobile__card hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.507);
}

.inforgrahpic__howitworks--desktop__head {
  max-width: 1188px;
  margin: 2rem auto;
  font-size: 1.75rem;
  font-weight: 700;
}

.inforgrahpic__howitworks--desktop .htwDashedLine {
  position: absolute;
  border-top: 2px dotted;
  color: #000;
  margin: -184px 80px 0 100px;
  width: 56%;
  right: 31%;
  z-index: -1;
  max-width: 795px;
  min-width: 815px;
}

.inforgrahpic__howitworks--desktop__card {
  height: 100%;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin: 0 10rem 0 0;
}

.inforgrahpic__howitworks--desktop__card .icon {
  color: rgba(0, 0, 0, 0.87);
  background-color: white;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto, sans-serif;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.25) 0px 10px 18px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 45px, rgba(0, 0, 0, 0.25) 0px 10px 18px;
  border-radius: 50%;
  border: 8px solid #ddd;
  content: "\f09d";
  height: 120px;
  width: 120px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.inforgrahpic__howitworks--desktop__card .icon img {
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.inforgrahpic__howitworks--desktop__card .text {
  margin-top: 2rem;
  max-width: 250px;
  min-height: 150px;
}

.inforgrahpic__howitworks--desktop__card .text h3 {
  font-weight: 700;
}

.inforgrahpic__howitworks--desktop__card .text p {
  font-size: 0.875rem;
}

.inforgrahpic__whyrevv--desktop .cardwrapper {
  max-width: 1140px;
}

.inforgrahpic__whyrevv--desktop .card {
  -webkit-box-shadow: black 0px 5px 5px 1px, rgba(0, 0, 0, 0.096) 0px 1px 4px;
          box-shadow: black 0px 5px 5px 1px, rgba(0, 0, 0, 0.096) 0px 1px 4px;
  width: 100%;
  height: 200px !important;
  margin-bottom: 60px !important;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: 1s ease;
  transition: 1s ease;
  background-size: cover;
}

.inforgrahpic__whyrevv--desktop .card:nth-child(1) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 60, 0.7)), to(rgba(52, 52, 60, 0.7))), url("../images/1.jpg");
  background-image: linear-gradient(0deg, rgba(52, 52, 60, 0.7), rgba(52, 52, 60, 0.7)), url("../images/1.jpg");
}

.inforgrahpic__whyrevv--desktop .card:nth-child(2) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 60, 0.7)), to(rgba(52, 52, 60, 0.7))), url("../images/2.jpg");
  background-image: linear-gradient(0deg, rgba(52, 52, 60, 0.7), rgba(52, 52, 60, 0.7)), url("../images/2.jpg");
}

.inforgrahpic__whyrevv--desktop .card:nth-child(3) {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 60, 0.7)), to(rgba(52, 52, 60, 0.7))), url("../images/3.jpg");
  background-image: linear-gradient(0deg, rgba(52, 52, 60, 0.7), rgba(52, 52, 60, 0.7)), url("../images/3.jpg");
}

.inforgrahpic__whyrevv--desktop .card img {
  width: 36px;
  -webkit-filter: invert(1);
          filter: invert(1);
}

.inforgrahpic__whyrevv--desktop .card h3 {
  font-size: 1.25rem;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.87);
}

.inforgrahpic__whyrevv--desktop .card__container {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: clamp(14rem, 25vw, 21.375rem);
}

.inforgrahpic__whyrevv--desktop .card__body {
  display: none;
  max-width: 350px;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.87);
}

.inforgrahpic__whyrevv--desktop .card:hover {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(52, 52, 60, 0.7)), to(rgba(52, 52, 60, 0.7))), url("../images/10.jpg");
  background-image: linear-gradient(0deg, rgba(52, 52, 60, 0.7), rgba(52, 52, 60, 0.7)), url("../images/10.jpg");
}

.inforgrahpic__whyrevv--desktop .card:hover .card__body {
  display: block;
}

.inforgrahpic__whyrevv--desktop .card:hover img {
  display: none;
}

@media (min-width: 769px) {
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: 72px !important;
    left: 0;
    width: 100%;
  }
}

.promos {
  margin: 1rem 0;
}

.promos__press h2 {
  text-align: center;
}

.promos__press .small-line-green {
  width: 30px;
  height: 2px;
  margin-top: 8px;
  border-top: 1px solid #00b9b4;
}

.promos__press__imgwrapper img {
  max-width: 90px;
}

.promos__press__imgwrapper--desktop img {
  max-width: 15rem;
}

.promos__download {
  margin-bottom: 3rem;
}

.promos__download__prallaxbg {
  height: 600px;
  width: 100%;
  background-image: url("../images/backgroundDownloadRevvApp.jpg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.promos__download__prallaxbg .preview {
  margin-right: 10em;
}

.promos__download__prallaxbg .preview h2 {
  font-size: 1.75rem;
  font-weight: 200;
  margin-bottom: 2rem;
}

.promos__download__prallaxbg .preview h2 span {
  font-weight: 600;
}

.promos__download__prallaxbg .preview .imgwrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.promos__download__prallaxbg .preview .imgwrapper:hover img:nth-child(1) {
  position: relative;
  left: 170px;
  top: -34px;
}

.promos__download__prallaxbg .preview .imgwrapper:hover img:nth-child(2) {
  position: relative;
  right: 170px;
  top: 25px;
}

.promos__download__prallaxbg .preview img {
  -webkit-transition: 1s ease;
  transition: 1s ease;
}

.promos__download__prallaxbg .preview img:nth-child(1) {
  width: 46%;
  position: relative;
  left: 0;
  top: -0;
}

.promos__download__prallaxbg .preview img:nth-child(2) {
  width: 41%;
  position: relative;
  right: 0;
  top: 0;
}

.reviews {
  width: 100%;
}

.reviews__stats {
  width: 100%;
  padding: 2rem 0;
  background: #f7f7f7;
}

.reviews__stats h3 {
  font-size: 1.75rem;
  font-weight: 200;
  margin: 2rem auto;
  max-width: 1188px;
  margin-bottom: 2rem;
  padding: 0 5rem 0rem 3rem;
}

.reviews__stats h3 span {
  font-weight: 600;
}

.reviews__stats .statwrapper {
  max-width: 1188px;
  margin: 2rem auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 5rem 3rem 3rem;
}

.reviews__stats .statwrapper .stat h4 {
  font-size: 1.25rem;
  font-weight: 700;
}

.reviews__stats .statwrapper .stat p {
  font-size: 0.875rem;
  opacity: 0.8;
}

.reviews--desktop__head {
  max-width: 1188px;
  margin: 2rem auto;
  font-size: 1.75rem;
  font-weight: 700;
}

.reviews--desktop__head span {
  font-weight: 200;
}

.footer__seolinks {
  background: #656c80;
  -webkit-box-shadow: rgba(0, 0, 0, 0.294) 0px 1px 6px, rgba(0, 0, 0, 0.294) 0px 1px 4px;
          box-shadow: rgba(0, 0, 0, 0.294) 0px 1px 6px, rgba(0, 0, 0, 0.294) 0px 1px 4px;
  border-radius: 2px;
  padding: 50px 0px 30px;
}

.footer__seolinks h5 {
  color: white;
  font-family: Poppins;
  font-size: 28px;
  font-weight: 700;
  text-align: left;
  margin: 2rem 0;
}

.footer__seolinks .linkswrapper {
  margin-bottom: 2rem;
}

.footer__seolinks a {
  color: rgba(255, 255, 255, 0.87);
  font-size: 0.875rem;
}

.footer footer {
  background: rgba(60, 65, 78, 0.93);
}

.footer footer .wrapper {
  margin: auto;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer footer .footer__socials {
  margin-right: 10rem;
  margin-bottom: 2rem;
}

.footer footer .icon {
  width: 39px;
  height: 39px;
  padding: 0;
  border-radius: 50%;
  background: #0ebaba;
  color: rgba(255, 255, 255, 0.87);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 1rem;
  margin-top: 1rem;
}

.footer footer .footer__links {
  margin-right: 10rem;
  margin-bottom: 2rem;
}

.footer footer .footer__links a {
  color: rgba(255, 255, 255, 0.87) !important;
}

.footer footer .contact h3 {
  font-size: 1.75rem;
  color: rgba(255, 255, 255, 0.87) !important;
}

.footer footer .contact h3 a {
  color: #13bbbb;
  font-size: 1.25rem;
}

.footer footer .contact p {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.87) !important;
}
