.reviews {
  width: 100%;

  &__stats {
    width: 100%;
    padding: 2rem 0;
    background: rgb(247, 247, 247);

    h3 {
      font-size: $font-large;
      font-weight: $light-w;
      margin: 2rem auto;
      max-width: 1188px;
      margin-bottom: 2rem;
      padding: 0 5rem 0rem 3rem;
      span {
        font-weight: $medium-w;
      }
    }

    .statwrapper {
      max-width: 1188px;
      margin: 2rem auto;
      flex-wrap: wrap;
      padding: 0 5rem 3rem 3rem;

      .stat {
        h4 {
          font-size: $font-med;
          font-weight: $bold-w;
        }

        p {
          font-size: $font-sm;
          opacity: 0.8;
        }
      }
    }
  }

  &--desktop__head {
    max-width: 1188px;
    margin: 2rem auto;
    font-size: 1.75rem;
    font-weight: $bold-w;

    span {
      font-weight: $light-w;
    }
  }
}