//Colors
$blueToGreenGradient: linear-gradient(to left, rgb(28, 171, 162), rgb(28, 127, 171));
$Black:#000000 ;
$Gray:#1c201fc7;
$White:rgba(255, 255, 255, 0.87);
$bgWhite:rgb(255, 255, 255);
$cyan:#13bbbb;

// Font Sizes
$font-sm:0.875rem; //14px
$font-reg:1rem; //16px
$font-med:1.25rem; //18x
$font-large:1.75rem; //18x

//Font weights
$light-w:200;
$medium-w:600;
$bold-w:700;

//View ports sizes
$mobileSize: 768px;
$desktopSize: 769px;

